USE [master]
GO
/****** Object:  Database [Vanzare Masini Dealer Auto]    Script Date: 1/9/2026 1:01:18 PM ******/
CREATE DATABASE [Vanzare Masini Dealer Auto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vanzare Masini Dealer Auto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Vanzare Masini Dealer Auto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Vanzare Masini Dealer Auto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Vanzare Masini Dealer Auto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vanzare Masini Dealer Auto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vanzare Masini Dealer Auto]
GO
/****** Object:  Table [dbo].[Angajati]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Angajati](
	[ID_Angajat] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[Data_Angajare] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Angajat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cereri_Achizitie]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cereri_Achizitie](
	[ID_Cerere] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[VIN_Masina] [nvarchar](50) NOT NULL,
	[Data_Cerere] [datetime] NULL DEFAULT (getdate()),
	[Mesaj_Client] [nvarchar](500) NULL,
	[Status_Cerere] [nvarchar](20) NULL DEFAULT ('In Asteptare'),
	[ID_Vanzator_Preluat] [int] NULL,
	[Data_Preluare] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cerere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[Tip_Client] [nvarchar](20) NOT NULL,
	[Nume] [nvarchar](50) NOT NULL,
	[Prenume] [nvarchar](50) NOT NULL,
	[Tara] [nvarchar](50) NULL,
	[Oras] [nvarchar](50) NULL,
	[Strada] [nvarchar](100) NULL,
	[Numar_Strada] [nvarchar](10) NULL,
	[Telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clienti_Modele_Auto]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti_Modele_Auto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[ID_Model] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cos_Client]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cos_Client](
	[ID_Cos] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[VIN_Masina] [nvarchar](50) NOT NULL,
	[Data_Adaugare] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[ID_Cos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Masini_Stoc]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masini_Stoc](
	[VIN] [nvarchar](50) NOT NULL,
	[ID_Model] [int] NOT NULL,
	[Culoare_Exterior] [nvarchar](50) NOT NULL,
	[Data_Intrare_Stoc] [datetime] NOT NULL,
	[Cost_Achizitie] [numeric](10, 2) NOT NULL,
	[Pret] [numeric](10, 2) NOT NULL,
	[Status_Vanzare] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modele_Auto]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modele_Auto](
	[ID_Model] [int] IDENTITY(1,1) NOT NULL,
	[Nume_Model] [nvarchar](50) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Generatie] [nvarchar](50) NULL,
	[Tip_Caroserie] [nvarchar](50) NULL,
	[Combustibil] [nvarchar](50) NULL,
	[Capacitate_Cilindrica] [int] NULL,
	[Norma_Poluare] [nvarchar](50) NULL,
	[Putere] [int] NULL,
	[Transmisie] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Plati]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plati](
	[ID_Plata] [int] IDENTITY(1,1) NOT NULL,
	[ID_Vanzare] [int] NOT NULL,
	[Data_Platii] [datetime] NOT NULL,
	[Suma_Platita] [numeric](10, 2) NOT NULL,
	[Metoda_Plata] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Plata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilizatori]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizatori](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[NumeUtilizator] [nvarchar](50) NOT NULL,
	[Parola] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[ID_Angajat_FK] [int] NULL,
	[ID_Client_FK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vanzari]    Script Date: 1/9/2026 1:01:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vanzari](
	[ID_Vanzare] [int] IDENTITY(1,1) NOT NULL,
	[VIN_Masina] [nvarchar](50) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[ID_Angajat] [int] NOT NULL,
	[Data_Vanzare] [datetime] NOT NULL,
	[Pret_Final] [numeric](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Vanzare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Angajati] ON 

INSERT [dbo].[Angajati] ([ID_Angajat], [Nume], [Prenume], [Data_Angajare]) VALUES (1, N'Popescu', N'Andrei', CAST(N'2018-05-20' AS Date))
INSERT [dbo].[Angajati] ([ID_Angajat], [Nume], [Prenume], [Data_Angajare]) VALUES (2, N'Ionescu', N'Maria', CAST(N'2019-01-15' AS Date))
INSERT [dbo].[Angajati] ([ID_Angajat], [Nume], [Prenume], [Data_Angajare]) VALUES (3, N'Georgescu', N'Vlad', CAST(N'2020-11-01' AS Date))
SET IDENTITY_INSERT [dbo].[Angajati] OFF
SET IDENTITY_INSERT [dbo].[Cereri_Achizitie] ON 

INSERT [dbo].[Cereri_Achizitie] ([ID_Cerere], [ID_Client], [VIN_Masina], [Data_Cerere], [Mesaj_Client], [Status_Cerere], [ID_Vanzator_Preluat], [Data_Preluare]) VALUES (1, 9, N'JTMDFREV10D678901', CAST(N'2025-12-25 00:17:01.597' AS DateTime), NULL, N'Finalizata', 7, CAST(N'2025-12-25 00:17:50.953' AS DateTime))
INSERT [dbo].[Cereri_Achizitie] ([ID_Cerere], [ID_Client], [VIN_Masina], [Data_Cerere], [Mesaj_Client], [Status_Cerere], [ID_Vanzator_Preluat], [Data_Preluare]) VALUES (2, 9, N'WBAPH5C50BA123456', CAST(N'2025-12-30 15:04:50.927' AS DateTime), N'Mai este valabila ?', N'Finalizata', 2, CAST(N'2025-12-30 15:06:28.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cereri_Achizitie] OFF
SET IDENTITY_INSERT [dbo].[Clienti] ON 

INSERT [dbo].[Clienti] ([ID_Client], [Tip_Client], [Nume], [Prenume], [Tara], [Oras], [Strada], [Numar_Strada], [Telefon]) VALUES (0, N'Persoana Fizica', N'Manea', N'Ion', N'Romania', N'Bucuresti', N'Str. Soarelui', N'10', N'0722111111')
INSERT [dbo].[Clienti] ([ID_Client], [Tip_Client], [Nume], [Prenume], [Tara], [Oras], [Strada], [Numar_Strada], [Telefon]) VALUES (1, N'Persoana Fizica', N'Georgescu', N'Victor', N'Romania', N'Cluj-Napoca', N'Str. Libertatii', N'5', N'0722222222')
INSERT [dbo].[Clienti] ([ID_Client], [Tip_Client], [Nume], [Prenume], [Tara], [Oras], [Strada], [Numar_Strada], [Telefon]) VALUES (2, N'Persoana Fizica', N'Popa', N'George', N'Romania', N'Timisoara', N'Bld. Unirii', N'22', N'0722333333')
SET IDENTITY_INSERT [dbo].[Clienti] OFF
SET IDENTITY_INSERT [dbo].[Clienti_Modele_Auto] ON 

INSERT [dbo].[Clienti_Modele_Auto] ([ID], [ID_Client], [ID_Model]) VALUES (1, 5, 4)
INSERT [dbo].[Clienti_Modele_Auto] ([ID], [ID_Client], [ID_Model]) VALUES (2, 6, 11)
INSERT [dbo].[Clienti_Modele_Auto] ([ID], [ID_Client], [ID_Model]) VALUES (3, 9, 1)
SET IDENTITY_INSERT [dbo].[Clienti_Modele_Auto] OFF
SET IDENTITY_INSERT [dbo].[Cos_Client] ON 

INSERT [dbo].[Cos_Client] ([ID_Cos], [ID_Client], [VIN_Masina], [Data_Adaugare]) VALUES (2, 6, N'WBAPH5C50BA123456', CAST(N'2025-12-28 23:54:32.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cos_Client] OFF
INSERT [dbo].[Masini_Stoc] ([VIN], [ID_Model], [Culoare_Exterior], [Data_Intrare_Stoc], [Cost_Achizitie], [Pret], [Status_Vanzare]) VALUES (N'JTMDFREV10D678901', 13, N'Rosu', CAST(N'2024-11-24 00:00:00.000' AS DateTime), CAST(35000.00 AS Numeric(10, 2)), CAST(41900.00 AS Numeric(10, 2)), N'Vandut')
INSERT [dbo].[Masini_Stoc] ([VIN], [ID_Model], [Culoare_Exterior], [Data_Intrare_Stoc], [Cost_Achizitie], [Pret], [Status_Vanzare]) VALUES (N'JTNB43EE001234567', 7, N'Alb Perlat', CAST(N'2025-12-23 00:00:00.000' AS DateTime), CAST(22500.00 AS Numeric(10, 2)), CAST(25900.00 AS Numeric(10, 2)), N'Vandut')
INSERT [dbo].[Masini_Stoc] ([VIN], [ID_Model], [Culoare_Exterior], [Data_Intrare_Stoc], [Cost_Achizitie], [Pret], [Status_Vanzare]) VALUES (N'VIN101BMW1234DER5', 1, N'Negru', CAST(N'2023-01-10 00:00:00.000' AS DateTime), CAST(35000.00 AS Numeric(10, 2)), CAST(42900.00 AS Numeric(10, 2)), N'Vandut')
SET IDENTITY_INSERT [dbo].[Modele_Auto] ON 

INSERT [dbo].[Modele_Auto] ([ID_Model], [Nume_Model], [Marca], [Generatie], [Tip_Caroserie], [Combustibil], [Capacitate_Cilindrica], [Norma_Poluare], [Putere], [Transmisie]) VALUES (1, N'Seria 3', N'BMW', N'G20', N'Sedan', N'Diesel', 1995, N'Euro 6', 190, N'Automata')
INSERT [dbo].[Modele_Auto] ([ID_Model], [Nume_Model], [Marca], [Generatie], [Tip_Caroserie], [Combustibil], [Capacitate_Cilindrica], [Norma_Poluare], [Putere], [Transmisie]) VALUES (2, N'Model Y', N'Tesla', N'2023', N'SUV', N'Electric', 0, N'Zero', 350, N'Automata')
INSERT [dbo].[Modele_Auto] ([ID_Model], [Nume_Model], [Marca], [Generatie], [Tip_Caroserie], [Combustibil], [Capacitate_Cilindrica], [Norma_Poluare], [Putere], [Transmisie]) VALUES (3, N'Focus', N'Ford', N'Mk4', N'Hatchback', N'Benzina', 998, N'Euro 6', 125, N'Manuala')
SET IDENTITY_INSERT [dbo].[Modele_Auto] OFF
SET IDENTITY_INSERT [dbo].[Plati] ON 

INSERT [dbo].[Plati] ([ID_Plata], [ID_Vanzare], [Data_Platii], [Suma_Platita], [Metoda_Plata]) VALUES (1, 1, CAST(N'2024-01-25 00:00:00.000' AS DateTime), CAST(42900.00 AS Numeric(10, 2)), N'Transfer Bancar')
INSERT [dbo].[Plati] ([ID_Plata], [ID_Vanzare], [Data_Platii], [Suma_Platita], [Metoda_Plata]) VALUES (2, 2, CAST(N'2024-03-01 00:00:00.000' AS DateTime), CAST(10000.00 AS Numeric(10, 2)), N'Card')
INSERT [dbo].[Plati] ([ID_Plata], [ID_Vanzare], [Data_Platii], [Suma_Platita], [Metoda_Plata]) VALUES (3, 2, CAST(N'2024-03-15 00:00:00.000' AS DateTime), CAST(45000.00 AS Numeric(10, 2)), N'Cash')
SET IDENTITY_INSERT [dbo].[Plati] OFF
SET IDENTITY_INSERT [dbo].[Utilizatori] ON 

INSERT [dbo].[Utilizatori] ([UserID], [NumeUtilizator], [Parola], [Rol], [ID_Angajat_FK], [ID_Client_FK]) VALUES (1, N'admin_sys', N'a1', N'Admin', NULL, NULL)
INSERT [dbo].[Utilizatori] ([UserID], [NumeUtilizator], [Parola], [Rol], [ID_Angajat_FK], [ID_Client_FK]) VALUES (2, N'popescu_andrei', N'pa', N'Vanzator', 1, NULL)
INSERT [dbo].[Utilizatori] ([UserID], [NumeUtilizator], [Parola], [Rol], [ID_Angajat_FK], [ID_Client_FK]) VALUES (3, N'ionescu_maria', N'im', N'Vanzator', 2, NULL)
SET IDENTITY_INSERT [dbo].[Utilizatori] OFF
SET IDENTITY_INSERT [dbo].[Vanzari] ON 

INSERT [dbo].[Vanzari] ([ID_Vanzare], [VIN_Masina], [ID_Client], [ID_Angajat], [Data_Vanzare], [Pret_Final]) VALUES (1, N'VIN101BMW1234DER5', 1, 1, CAST(N'2024-01-25 00:00:00.000' AS DateTime), CAST(42900.00 AS Numeric(10, 2)))
INSERT [dbo].[Vanzari] ([ID_Vanzare], [VIN_Masina], [ID_Client], [ID_Angajat], [Data_Vanzare], [Pret_Final]) VALUES (2, N'VIN102TES23456TGF', 2, 2, CAST(N'2025-03-01 00:00:00.000' AS DateTime), CAST(55000.00 AS Numeric(10, 2)))
INSERT [dbo].[Vanzari] ([ID_Vanzare], [VIN_Masina], [ID_Client], [ID_Angajat], [Data_Vanzare], [Pret_Final]) VALUES (3, N'VIN106RNL55667YHR', 3, 1, CAST(N'2022-07-20 00:00:00.000' AS DateTime), CAST(20990.00 AS Numeric(10, 2)))
SET IDENTITY_INSERT [dbo].[Vanzari] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Utilizat__E85F509DE543D98A]    Script Date: 1/9/2026 1:01:18 PM ******/
ALTER TABLE [dbo].[Utilizatori] ADD UNIQUE NONCLUSTERED 
(
	[NumeUtilizator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cereri_Achizitie]  WITH CHECK ADD FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Clienti] ([ID_Client])
GO
ALTER TABLE [dbo].[Cereri_Achizitie]  WITH CHECK ADD FOREIGN KEY([ID_Vanzator_Preluat])
REFERENCES [dbo].[Angajati] ([ID_Angajat])
GO
ALTER TABLE [dbo].[Cereri_Achizitie]  WITH CHECK ADD FOREIGN KEY([VIN_Masina])
REFERENCES [dbo].[Masini_Stoc] ([VIN])
GO
ALTER TABLE [dbo].[Clienti_Modele_Auto]  WITH CHECK ADD FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Clienti] ([ID_Client])
GO
ALTER TABLE [dbo].[Clienti_Modele_Auto]  WITH CHECK ADD FOREIGN KEY([ID_Model])
REFERENCES [dbo].[Modele_Auto] ([ID_Model])
GO
ALTER TABLE [dbo].[Cos_Client]  WITH CHECK ADD FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Clienti] ([ID_Client])
GO
ALTER TABLE [dbo].[Cos_Client]  WITH CHECK ADD FOREIGN KEY([VIN_Masina])
REFERENCES [dbo].[Masini_Stoc] ([VIN])
GO
ALTER TABLE [dbo].[Masini_Stoc]  WITH CHECK ADD FOREIGN KEY([ID_Model])
REFERENCES [dbo].[Modele_Auto] ([ID_Model])
GO
ALTER TABLE [dbo].[Plati]  WITH CHECK ADD FOREIGN KEY([ID_Vanzare])
REFERENCES [dbo].[Vanzari] ([ID_Vanzare])
GO
ALTER TABLE [dbo].[Utilizatori]  WITH CHECK ADD FOREIGN KEY([ID_Angajat_FK])
REFERENCES [dbo].[Angajati] ([ID_Angajat])
GO
ALTER TABLE [dbo].[Utilizatori]  WITH CHECK ADD FOREIGN KEY([ID_Client_FK])
REFERENCES [dbo].[Clienti] ([ID_Client])
GO
ALTER TABLE [dbo].[Vanzari]  WITH CHECK ADD FOREIGN KEY([ID_Angajat])
REFERENCES [dbo].[Angajati] ([ID_Angajat])
GO
ALTER TABLE [dbo].[Vanzari]  WITH CHECK ADD FOREIGN KEY([ID_Client])
REFERENCES [dbo].[Clienti] ([ID_Client])
GO
ALTER TABLE [dbo].[Vanzari]  WITH CHECK ADD FOREIGN KEY([VIN_Masina])
REFERENCES [dbo].[Masini_Stoc] ([VIN])
GO
USE [master]
GO
